{% extends 'getvid/base.html' %}

{% block content %}
    <h3>Providers</h3>
    {% for provider in providersData %}
      <div class="provider">
        <span>Name: {{ provider.providerName|linebreaksbr }}</span><br/>
        <span>Url: {{ provider.providerUrl|linebreaksbr }}</span><br/>
        <span>Registered Email: {{ provider.Email|linebreaksbr }}</span><br/>
        <span>Password: {{ provider.Password|linebreaksbr }}</span><br/>
      </div>
    {% endfor %}
    <h3>Courses</h3>
    {% for course in coursesData %}
      <div class = "course">
        <span>Name: {{ course.courseName|linebreaksbr }}</span><br/>
        <span>Author: {{ course.authorName|linebreaksbr }}</span><br/>
        <span>Url: {{ course.courseUrl|linebreaksbr }}</span><br/>
        <span>Summary: {{ course.courseSummary|linebreaksbr }}</span><br/><br/>
      </div>
    {% endfor %}
{% endblock %}
